/*Gráfica Vista*/
.graf{
    height: 250px;
    width: 329px;
}
/*Gráfica modal*/
.grafmd{
    height: 300px;
    width: 329px;
}
/*Gráfica Genero coordinador C*/
.grafgen{
    height: 380px;
    width: 650px;
}
/*TABLA SCROLL*/
.header_fijo {
    table-layout: fixed;
    border-collapse: separate;
}
.header_fijo thead tr {
    position: center;
}
.header_fijo tbody {
    display: block;
    overflow: auto;
    height: 400px;
}

/*TABLA SCROLL 100%*/
.tableFixHead{ overflow-y: auto; height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; }
.tableFixHead table  { border-collapse: collapse; width: 100%; }
.tableFixHead th, td { padding: 8px 16px; }
.tableFixHead th     { background:#eee; }

/*TABLA SCROLL MODAL 100%*/
.tableFixHeadModal{ overflow-y: auto; height: 450px; }
.tableFixHeadModal thead th { position: sticky; top: 0; }
.tableFixHeadModal table  { border-collapse: collapse; width: 100%; }
.tableFixHeadModal th, td { padding: 8px 16px; }
.tableFixHeadModal th     { background:#eee; }
/*TABLA SCROLL LISTA TUTOR*/
.tableFixHeadLista{ overflow-y: auto; height: 600px; }
.tableFixHeadLista thead th { position: sticky; top: 0; align-content: center; text-align: center;}
.tableFixHeadLista table  { border-collapse: collapse; width: 100%; }
.tableFixHeadLista th, td { padding: 5px 25px; border: none; align-content: center }
.tableFixHeadLista th     { background:#eee; }

